<!DOCTYPE html>
<html>
<head>
    <title> Job Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <style>
            #banner {
                height: 360px; 
                width: 100%;
            }
        </style>
</head>

<body>
    <div class="container">
        <h1 class="text-center mt-2 mb-4">{{company_name}} Careers</h1>
        <img class="img-fluid" id='banner' src="{{ url_for ('static', filename='banner.jpg')}}"
            alt="Company Banner"> 

        <h2 class="text-center mt-2 mb-4">Welcome to our careers page</h2>
        <p>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec elit non dolor vehicula tempus. Proin posuere libero sit amet odio pellentesque, eget venenatis ipsum vulputate. Sed non blandit augue. 
            Donec feugiat arcu vel turpis posuere lacinia. Maecenas fermentum nibh ut libero consectetur congue. Praesent efficitur lectus non orci condimentum eleifend. Curabitur vel laoreet enim. 
            Sed gravida justo quis elit efficitur, eget dapibus tortor maximus. Proin pulvinar egestas est, a faucibus sapien finibus quis. Sed sed est non tellus pretium bibendum fringilla at purus. 
            Donec at metus dapibus, iaculis sapien tristique, commodo turpis. Mauris sit amet condimentum ante, eget porttitor dolor. Integer pellentesque sagittis nisl, tempor gravida nulla efficitur vel. 
            In egestas suscipit porttitor. Etiam laoreet ex et posuere porta. Vestibulum tempus tempus viverra. Pellentesque non malesuada eros. Vestibulum molestie nunc massa, id mollis mauris ultricies a. Aliquam magna purus, vulputate ut sem ac, ornare rutrum ex. Donec consectetur condimentum mollis. 
            Pellentesque mi arcu, dictum quis justo id, commodo ornare arcu.</p>
        </p>
        
        <h2 class="text-center mt-2 mb-4"> Open Positions </h2>
        
       
        <div> 
            {% for job in jobs %} 
                <div>{{jobs['title']}}</div>
            {% endfor %}
        </div>

        <div class="text-center">
        <button class="btn btn-primary btn-lg"> Contact Us </button>
            <p class="mt-4"> Copyright 2026</p>
        </div>
    
    </div> 
</body>

</html>